@model Showtime.Web.Models.TmdbModels.FullDetails.Movie

<div class="container">
    <img src="@($"{Model.BackdropBasePath}{Model.BackdropPath}")" class="img-fluid" alt="@Model.Title Backdrop Image" style="width: 100%" />
</div>